#logo{
    margin-left:10px;
}
#point{
    margin-top: 75px;
}
p{
    font-size:20px;

}
#teaching{
    margin-top: 20px;
}
@media(min-width:768px) {
    .news-input {
        width: 50%;
    }
    
}
